{{!< default}}

{{#post}}
    {{> post-header}}

    <main class="{{post_class}}" role="main">
        <header>
            <h1>{{title}}</h1>
        </header>

        <section>
            {{content}}
        </section>
    </main>
{{/post}}
