{{!< default}}

{{#post}}
    {{> post-header}}

    <main role="main">
        <article class="{{post_class}}">
            <header>
                <h1>{{title}}</h1>
            </header>

            <section>
                {{content}}
            </section>
        </article>
    </main>
{{/post}}
